{{!< default}}

<div class="content-area">
    <main class="site-main">
        <div class="post-feed container medium">
            {{#foreach posts visibility="all"}}
            	{{!-- exclude #noindex --}}
            	{{#has tag="newsletter"}}
                	{{!-- nothing --}}
            	{{else}}
                {{> "loop"}}
                {{/has}}
            {{/foreach}}
        </div>
        {{pagination}}
    </main>
</div>