{{!< ../default}}

<header class="site-header">
    {{> site-header}}
</header>
<main id="site-main" class="site-main site-signin outer">
    <div class="inner">

    {{#if @member}}

        {{!-- Logged in: Redirect home --}}
        <script>window.location = '{{@site.url}}';</script>

    {{else}}

        {{!-- Not logged in: Signin form --}}
        <form class="signin-form" data-members-form="signin">
            <h1 class="signin-title">A un paso de formar parte del cambio.</h1>
            <p>Con el registro gratuito recibir치s la newsletter 'Cambio' y acceder치s a contenido exlusivo</p>
            <div class="signin-box">
                <input data-members-email type="email" placeholder="Your email address" required="true" autocomplete="false" />
                <button class="button primary" type="submit">
                    <span class="button-content">Registro / login</span>
                    <span class="button-loader">{{> "icons/loader"}}</span>
                </button>
            </div>
            <p><small>쯈uieres m치s? Descrubre los<a href="{{@site.url}}/signup/">planes avanzados</a></small></p>
            <div class="message-success"><strong>Hecho.</strong> Puedes confirmar tu suscripci칩n accediendo al enlace que te hemos enviado por correo.</div>
            <div class="message-error">Parece que esta direcci칩n no es correcta 游땞</div>
        </form>

    {{/if}}

    </div>
</main>
